body {
    background-color: white; 
    font-family: sans-serif;
    color: dimgray;
   
}
/* SINEAD RAFFERTY */
a.mainTitle:link, a.mainTitle:visited, a.maintitle:hover, a.mainTitle:active {
    color: dimgray;
    text-decoration:none; /* Styling for main title link to main page */
}       





/*Navigation Topbar Links*/

#nav{
    display:inline-block;
}


/* About Me Page Content */
#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:8px;
    border: 35px solid transparent;
    width: 700px;
    height: 700px;
     
}


/* Margins for Artifact Blocks */






/*Animation: Hi my name is Sinead*/


/*typing effect here 
/* End of animation */

p.aboutMeInfo {
    

     
}

/* sliding up of image */


/*Footer */
footer{
    padding-top: 20px;
}




